* {
    font-style: normal;
}


body {
    font-family: 'Poppins', sans-serif;
    background: linear-gradient(to right, #e0c3fc, #8ec5fc);
    margin: 0;
    padding: 20px;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    max-width: 900px;
    width: 100%;
    margin: 20px;
    background: rgba(255, 253, 253, 0.5);
    backdrop-filter: blur(10px);
    padding: 30px;
    border-radius: 16px;
    box-shadow: 0 0 20px rgba(0,0,0,0.1);
}

h1 {
    text-align: center;
    color: #333;
}

.btn {
    display: inline-block;
    background: #6a5acd;
    transition: all 0.3s ease;
    color: white;
    padding: 10px 15px;
    text-decoration: none;
    margin-bottom: 20px;
    border-radius: 5px;
}

.btn:hover {
    background: #836fff;
    transform: scale(1.05);
}

table.dataTable {
    width: 100% !important;
}

td i {
    margin: 0 5px;
    cursor: pointer;
    color: #007bff;
    transition: all 0.2s ease;
}

td i:hover {
    transform: scale(1.2);
    opacity: 0.8;
}

td i.fa-trash {
    color: red;
}

form {
    display: flex;
    flex-direction: column;
}

form label {
    margin-top: 10px;
    font-weight: 600;
}

form input[type="text"],
form input[type="date"],
form select,
form textarea {
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 16px;
}

@media screen and (max-width: 768px) {
    .container {
        margin: 10px;
        padding: 20px;
    }

    table, thead, tbody, th, td, tr {
        display: block;
        width: 100%;
    }

    thead {
        display: none;
    }

    td {
        text-align: right;
        position: relative;
        padding-left: 50%;
        box-sizing: border-box;
    }

    td::before {
        content: attr(data-label);
        position: absolute;
        left: 0;
        width: 50%;
        padding-left: 15px;
        font-weight: bold;
        text-align: left;
        color: #333;
    }
}
